html, body{
  margin: 0;
  overflow: hidden;
}

.app-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  overflow-x: hidden;
  padding: 1rem;
}

footer{
  display: flex;
  justify-content: center;
  height: 25px;
  background-color: rgba(0,0,0,0.8);
  color: #e5e1e1;
}