html, body{
  overflow: hidden;
  margin: 0;
}

.app-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  overflow-x: hidden;
}

footer{
  display: flex;
  justify-content: center;
  height: 25px;
  background-color: black;
  color: #fff;
}