$button-white: #fff;
$button-primary-color: #818080;
$button-secondary-color: #c2bdbd;

.btn {
  background-color: $button-white;
  border: 1px solid $button-secondary-color;
  color: $button-primary-color;

  &:hover{
    border: 1px solid $button-primary-color;
    background-color: $button-primary-color;
    color: $button-white;
  }
}