.card {
  position: relative;
  margin: .5rem 1rem 1rem 0;
  box-shadow: 2px 2px 3px gray;
  border-radius: 2px;
  padding: 0;
}

.card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

img {
  border-style: none;
}