$background-white: $white;
$primary-color: $red-500;
$secondary-color: $red-200;
$active-color: $red-700;

.navbar{
  height: 100%;
  background-color: $white;
}

.navbar-brand {
  color: $primary-color;
  &:hover{
    color: $secondary-color;
  }
}

.navbar-nav {
  .nav-link {
    color: $primary-color;

    &:hover{
      color: $secondary-color;
    }
  }

  .nav-link.active {
    color: $active-color;
  }
}


