$text: #4A5568;
$highlight: #0095FA;
$primary-background: #F5F9FF;
$secondary-background: #F1F1E6;
$body-background: $gray-100;

.navbar{
  height: 100%;
  background-color: $white;
  box-shadow: 0 2px 7px 0 rgba(94,84,84,0.55);
  -webkit-box-shadow: 0 2px 7px 0 rgba(94,84,84,0.55);
  -moz-box-shadow: 0 2px 7px 0 rgba(94,84,84,0.55);
}

.navbar-brand {
  color: $text;
  &:hover{
    color: $highlight;
  }
}

.navbar-nav {
  .nav-link {
    color: $text;

    &:hover{
      color: $highlight;
    }
  }

  .nav-link.active {
    color: $highlight;
  }
}


